<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="utn.proy2k18.vantrack.user">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="utn.proy2k18.vantrack.initAndAccManagement.InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="utn.proy2k18.vantrack.initAndAccManagement.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName="utn.proy2k18.vantrack.initAndAccManagement.InitActivity" />
        <activity
            android:name="utn.proy2k18.vantrack.initAndAccManagement.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName="utn.proy2k18.vantrack.initAndAccManagement.InitActivity" />
        <activity
            android:name="utn.proy2k18.vantrack.initAndAccManagement.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="utn.proy2k18.vantrack.initAndAccManagement.InitActivity" />
        <activity android:name="mainFunctionality.CentralActivity" />
        <activity
            android:name="mainFunctionality.localization.MapsActivityUser"
            android:label="@string/track_my_van"/>
        <activity android:name="mainFunctionality.reservations.PaymentActivity"
            android:label="Pagar reserva"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>